{% extends "schedule/base.html" %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div class="card shadow p-4" style="min-width: 350px;">
    <h3 class="text-center mb-3">Авторизация</h3>
    <hr class="mb-4">

    <form method="post">
      {% csrf_token %}

      <div class="mb-3">
        {{ form.username.label_tag }}
        {{ form.username }}
        {{ form.username.errors }}
      </div>

      <div class="mb-5">
        {{ form.password.label_tag }}
        {{ form.password }}
        {{ form.password.errors }}
      </div>

      {% if form.errors %}
        <div class="text-danger text-center mb-3">
          Неверный логин или пароль
        </div>
      {% endif %}

      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary px-4">Войти</button>
      </div>
    </form>

  </div>
</div>
{% endblock %}
